*{
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
body{
  display: flexbox;
  background-color: #72789b;
}

h1{
  font-size: 2rem;
  justify-content:sp ;
}


